<%= render 'sidebar' %>
<a href="#menu-toggle" class="btn btn-default" id="menu-toggle"></a>
<div id="row">
  <div class="col-md-8 col-md-offset-3" >
    <% @clients.each do |client| %>
        <div class="panel panel-info" align="center">
          <div class="box panel-heading panel-default">
            <%= client.firstname.upcase %> <%= client.lastname.upcase %>
          </div>
          <div class="panel-body center">
            <%= client.description %>
          </div>
          <div class="panel-footer">
            <div class="row">
              <div class="col-md-6 col-offset-2">
                <%= client.email %>, <%= client.phone %>
                <div class="btn-group pull-right">
                  <% if user_signed_in? %>
                      <%= link_to 'Edit', edit_client_path(client) %>
                      <%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
    <% end %>
  </div>
</div>

</div>

