<h1><%= @pic.title %></h1>
<h3> <%= @pic.description %></h3>

<%= link_to "Back", pics_path %>
<%= link_to "Edit", edit_pic_path %>
<%= link_to "Destroy", pic_path, method: :delete, data: {confirm: "Are you sure?"} %>
