<p id="notice"><%= notice %></p>

<h1>Listing Control Panels</h1>

<table>
  <thead>
    <tr>
      <th>Index</th>
      <th>Update</th>
      <th>Show</th>
      <th>Destroy</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @control_panels.each do |control_panel| %>
      <tr>
        <td><%= control_panel.index %></td>
        <td><%= control_panel.update %></td>
        <td><%= control_panel.show %></td>
        <td><%= control_panel.destroy %></td>
        <td><%= link_to 'Show', control_panel %></td>
        <td><%= link_to 'Edit', edit_control_panel_path(control_panel) %></td>
        <td><%= link_to 'Destroy', control_panel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Control panel', new_control_panel_path %>
