<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @control_panel.index %>
</p>

<p>
  <strong>Update:</strong>
  <%= @control_panel.update %>
</p>

<p>
  <strong>Show:</strong>
  <%= @control_panel.show %>
</p>

<p>
  <strong>Destroy:</strong>
  <%= @control_panel.destroy %>
</p>

<%= link_to 'Edit', edit_control_panel_path(@control_panel) %> |
<%= link_to 'Back', control_panels_path %>
